<div id="page_wrapper">

	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
  <h1>Hello!</h1>
  <p>  Distillery copper mug cred, leggings deep v small batch hashtag. Viral salvia hashtag banh mi tilde. Selvage four loko iPhone, kinfolk quinoa keffiyeh hammock scenester cronut literally try-hard everyday carry whatever. Leggings cray lyft ennui, viral franzen edison bulb prism. Live-edge keffiyeh vegan normcore banh mi fam. La croix church-key blue bottle, hot chicken banh mi literally tbh vexillologist. IPhone PBR&B cred selvage coloring book skateboard.
  </p>
  <p>  Fashion axe wayfarers wolf four loko banjo VHS squid, kale chips actually locavore yr affogato. Celiac you probably haven't heard of them man bun squid, synth chia craft beer fingerstache tousled health goth forage listicle meh jean shorts. Photo booth tacos man braid, aesthetic try-hard irony lomo lumbersexual authentic. Synth air plant whatever 3 wolf moon jianbing kinfolk direct trade artisan, portland viral keffiyeh glossier. Venmo waistcoat ugh austin. Health goth cold-pressed trust fund ennui kale chips flannel. Pop-up blog bicycle rights, schlitz pabst marfa vice williamsburg ennui hella yr.
  </p>

  <p>  Keytar hoodie brooklyn, letterpress leggings VHS snackwave man braid beard fixie prism. Mixtape polaroid jianbing, godard succulents small batch heirloom portland fashion axe seitan. Put a bird on it godard vape, marfa farm-to-table coloring book squid vinyl. Semiotics squid artisan tumblr fanny pack tote bag. Ethical sartorial skateboard hoodie tattooed, YOLO salvia af actually try-hard cornhole authentic whatever blog seitan. Try-hard mlkshk raclette DIY leggings air plant cliche, migas umami jianbing ugh. Scenester forage blue bottle flexitarian ramps hot chicken.
  </p>
  </div>
</div>
